<div class="landing row">
  <div class="col-md-1">
    <button class="btn btn-default" ui-sref="root.search">Next</button>
  </div>
  <div class="col-md-10">
    <h1>Search through MarkLogic repositories on Github!</h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-chevron-up pull-right" ng-show="$root.noteClosed" ng-click="$root.noteClosed = !$root.noteClosed"></i>
        <i class="fa fa-chevron-down pull-right" ng-hide="$root.noteClosed" ng-click="$root.noteClosed = !$root.noteClosed"></i>
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body" ng-hide="!!$root.noteClosed">
        
      This website allows you to find MarkLogic-related repositories on Github more easily. It is built using <a href="https://github.com/marklogic/slush-marklogic-node/wiki" target="_blank">slush-marklogic-node</a> with all its out of the box features, and the 'blue' theme. It uses <a href="http://registry.demo.marklogic.com/package/ml-github-api" target="_blank">ml-github-api</a> to access the Github API to find MarkLogic-related repositories, and gather information for the benefit of searching inside MarkLogic. It uses the schedule provided in that project to refresh the contents inside this MarkLogic database every hour. It leverages <a href="https://github.com/ryanjdew/ml-highcharts-ng#ml-highcharts-ng" target="_blank">ml-highcharts-ng</a> to draw below charts, and <a href="http://grtjn.github.io/d3-cloud-ng/#/" target="_blank">d3-cloud-ng</a> to draw the keywords tag cloud. Dashboard and Seach page use the same search context, so drilling down in one, will change both.
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-chevron-up pull-right" ng-show="$root.analysisClosed" ng-click="$root.analysisClosed = !$root.analysisClosed"></i>
        <i class="fa fa-chevron-down pull-right" ng-hide="$root.analysisClosed" ng-click="$root.analysisClosed = !$root.analysisClosed"></i>
        <h3 class="panel-title">Analysis</h3>
      </div>
      <div class="panel-body" ng-hide="!!$root.analysisClosed">
        <div class="row">
          <div class="col-md-7">
            <ml-highchart highchart-config="ctrl.ownerLanguageChart" ml-search="ctrl.mlSearch"></ml-highchart>
          </div>
          <div class="col-md-5">
            <d3-cloud words="ctrl.keywords" padding="0" rotate="ctrl.noRotate(word)" events="ctrl.cloudEvents" slope-base="30" slope-factor="30"></d3-cloud>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="fa fa-chevron-up pull-right" ng-show="$root.scoresClosed" ng-click="$root.scoresClosed = !$root.scoresClosed"></i>
        <i class="fa fa-chevron-down pull-right" ng-hide="$root.scoresClosed" ng-click="$root.scoresClosed = !$root.scoresClosed"></i>
        <h3 class="panel-title">Top Scores</h3>
      </div>
      <div class="panel-body" ng-hide="!!$root.scoresClosed">
        <div class="row">
          <div class="col-md-4">
            <ml-highchart highchart-config="ctrl.ownerChart" ml-search="ctrl.mlSearch"></ml-highchart>
          </div>
          <div class="col-md-4">
            <ml-highchart highchart-config="ctrl.typeChart" ml-search="ctrl.mlSearch"></ml-highchart>
          </div>
          <div class="col-md-4">
            <ml-highchart highchart-config="ctrl.languageChart" ml-search="ctrl.mlSearch"></ml-highchart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>